aniso8601==9.0.1
bcrypt==4.2.0
blinker==1.8.2
cffi==1.17.1
click==8.1.7
colorama==0.4.6
Flask==3.0.3
Flask-Cors==5.0.0
Flask-MySQLdb==2.0.0
graphene==3.3
graphql-core==3.2.5
graphql-relay==3.2.0
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.1
mysql-connector-python==9.1.0
mysqlclient==2.2.5
pycparser==2.22
typing_extensions==4.12.2
Werkzeug==3.0.4
zipp==3.20.2

